<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <arg name="global_planner" default="global_planner"/>
  <arg name="odom"    default="mobile_base_controller/odom"/>
  <arg name="subtype" default=""/>
  <arg name="cmd_vel" default="nav_vel"/>
  <arg name="debug"      default="false"/>
  <arg name="launch_prefix" value=""/>

  <arg name="config_base_path" default="$(find pal_navigation_cfg_tiago)"/>

  <arg name="robot_namespace" default=""/>

  <node pkg="move_base" type="move_base" name="move_base" clear_params="true" output="screen" launch-prefix="$(arg launch_prefix)">
    <remap from="odom"    to="$(arg odom)"/>
    <remap from="cmd_vel" to="$(arg cmd_vel)"/>

    <rosparam command="load" file="$(arg config_base_path)/config/base/common/move_base.yaml"/>
    <rosparam command="load" file="$(arg config_base_path)/config/base/common/recovery_behaviors.yaml"/>
    <rosparam command="load" file="$(arg config_base_path)/config/base/common/global_costmap_plugins.yaml"/>
    <rosparam command="load" file="$(arg config_base_path)/config/base/common/global_costmap.yaml"/>
    <rosparam command="load" file="$(arg config_base_path)/config/base/common/local_costmap_plugins.yaml"/>
    <rosparam command="load" file="$(arg config_base_path)/config/base/common/local_costmap.yaml"/>

    <rosparam command="load" file="$(arg config_base_path)/config/base/global_planner/global_planner.yaml"/>
    <rosparam command="load" file="$(arg config_base_path)/config/base/global_planner/navfn.yaml"/>
    <rosparam command="load" file="$(arg config_base_path)/config/base/global_planner/carrot.yaml"/>
    <rosparam command="load" file="$(arg config_base_path)/config/base/global_planner/planpy.yaml"/>
    <rosparam command="load" file="$(arg config_base_path)/config/base/global_planner/sbpl_lattice_planner.yaml"/>


    <rosparam command="load" file="$(arg config_base_path)/config/base/trajectory/local_planner.yaml"/>
    <rosparam command="load" file="$(arg config_base_path)/config/base/teb/local_planner.yaml"/>
    <rosparam command="load" file="$(arg config_base_path)/config/base/dwa/local_planner.yaml"/>
    <rosparam command="load" file="$(arg config_base_path)/config/base/eband/local_planner.yaml"/>
    <!-- <rosparam command="load" file="$(arg config_base_path)/config/base/robotino/local_planner.yaml"/> -->
    <rosparam command="load" file="$(arg config_base_path)/config/base/carrot/local_planner.yaml"/>
    
  </node>

</launch>
