<!-- FILEPATH: /tiago_ws/src/robocup_at_home_final_navigation/launch/navigation.launch -->

<launch>
    <!-- Launch gmapping -->
    <include file="$(find robocup_at_home_final_navigation)/launch/mapping_gmapping.launch"/>

    <arg name="file" default="$(find robocup_at_home_final_navigation)/config/tiago_navigation_rviz.rviz"/>
        <!-- create_human_goal node -->
    <node pkg="robocup_at_home_final_navigation" type="create_human_goal.py" name="create_human_goal" output="screen"/>
    <!-- create_bag_goal node -->
    <node pkg="robocup_at_home_final_navigation" type="create_bag_goal.py" name="create_bag_goal" output="screen"/>

    <!-- Launch rviz -->
    <node name="rviz" pkg="rviz" type="rviz"
            args="-d $(arg file)"/>        

</launch>
